*{
    margin: 0px;
    font-family: Arial;
    color: white;
    
}
.navbar{
    height: 60px;
    background-color: #0F1111;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}
/* box1 */
.nav-logo{
    height: 58px;
    width: 100px;
}
.border{
    border: 2px solid transparent;

}
.border:hover{
    border: 2px solid white;
}
#image{
    width: 99px;
    height: 58px;
}

/* box2 */
.add-icon{
    width: 88px;
    height: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 2px;
}
.icon-2{
    display: flex;
    font-size: 1rem;
    color: #ffffff;
    margin-top: 7px;
}
.icon-1{
    font-size: 0.85rem;
    color: #cccccc;
    margin-left: 15px;
    margin-top: 5px;
}
/* box3 */
.nav-search{
    display: flex;
    background-color: #0F1111;
    width: 500px;
    height: 60px;
    display: flex;
    align-items: center;

}
.search-icon{
    background-color: #e1ad05;
    height: 46px;
    width: 45px;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}
.search{
    width: 400px;
    height: 42px;
}
.option{
    height: 46px;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border: none;
    color: black;
}
/* box4 */
.nav-flag{
    width: 67px;
    height: 56px;
    background-color: #0F1111;
    display: flex;
    justify-content: center;
    align-items: center;
}
.flag-icon{
    color: white;
}
.text{
    color: white;
    font-weight: bold;
}
/* box5 */
.accounts{
    margin-top: 7px;
    display: flex;
}
.sign-in{
    height: 56px;
}
/* box6 */
.nav-orders{
    width: 77px;
    height: 50px;
    text-align: center;
    padding-top: 15px;
}
/* box7 */
.nav-cart{
    width: 57px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#cart{
    font-size: 25px;
}
/*panel*/
.panel{
    height: 40px;
    background-color: #222f3D;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.panel-ops p{
    display: inline;
    margin-left: 15px;
}
.panel-ops{
    width: 93%;
    font-size: 0.85rem;
}
/*hero section*/
.hero{
    background-image: url("hero1.jpg");
    height: 350px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}
.hero-section{
    color: #0F1111;
    background-color: white;
    height: 40px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    font-size: 0.85rem;
}
.hero-section a{
    color: #007185;
}
/*shop-section*/
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgba(224, 146, 224, 0.994);
}
.box{
    height: 380px;
    border: 2px solid black;
    color: black;
    background-color: white;
    padding: 10px 15px 15px 10px;
    margin-bottom: 20px;
    
    width: 20%;
}
.box-img{
    height: 300px;
    margin-left: 10px;
    margin-right: 10px;
}
/*footer*/
/*panel1*/
.foot-panel1{
    height: 50px;
    background-color: #222f3D;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.foot-panel2{
    height: 200px;
    background-color: #333333;
    display: flex;
    justify-content: space-evenly;
    
}
ul a{
    display: block;
    
}
ul {
    margin-top: 20px;
}
.foot-panel3{
    height: 70px;
    background-color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
}
.foot-panel4{
    height: 80px;
    background-color: #0F1111;
    color: white;
    text-align: center;
    
    
    /* display: flex;
    justify-content: space-evenly; */
}
.text{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 5px;
    
    
}






