*{
    margin: 0px;
    font-family: Arial;
    color: white;
    
}
.navbar{
    height: 60px;
    background-color: #0F1111;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}
/* box1 */
.nav-logo{
    height: 58px;
    width: 100px;
}
.border{
    border: 2px solid transparent;

}
.border:hover{
    border: 2px solid white;
}
#image{
    width: 99px;
    height: 58px;
}

/* box2 */
.add-icon{
    width: 88px;
    height: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 2px;
}
.icon-2{
    display: flex;
    font-size: 1rem;
    color: #ffffff;
    margin-top: 7px;
}
.icon-1{
    font-size: 0.85rem;
    color: #cccccc;
    margin-left: 15px;
    margin-top: 5px;
}
/* box3 */
.nav-search{
    display: flex;
    background-color: #0F1111;
    width: 500px;
    height: 60px;
    display: flex;
    align-items: center;

}
.search-icon{
    background-color: #e1ad05;
    height: 46px;
    width: 45px;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}
.search{
    width: 400px;
    height: 40px;
}
.option{
    height: 46px;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border: none;
    color: black;
}
/* box4 */
.nav-flag{
    width: 67px;
    height: 56px;
    background-color: #0F1111;
    display: flex;
    justify-content: center;
    align-items: center;
}
.flag-icon{
    color: white;
}
.text{
    color: white;
    font-weight: bold;
}
/* box5 */
.accounts{
    margin-top: 7px;
    display: flex;
}
.sign-in{
    height: 56px;
}
.hello{
    margin-top: 5px;
}
.